<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách bác sĩ</title>
    <th:block th:replace="layout/base :: styles"></th:block>
</head>

<body>
<div th:replace="layout/header :: header"></div>




<section class="container mt-4">
    <h2 class="text-center text-primary">Danh sách chứng chỉ hành nghề</h2>


    <div class="modal fade" id="rejectModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" id="rejectForm">
<!--                rejectForm đúng với id bên nút từ chối-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Từ chối chứng chỉ</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="rejectId">
                        <div class="mb-3">
                            <label>Lý do từ chối:</label>
                            <textarea name="reason" class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Gửi từ chối</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <select name="status" class="form-select" onchange="this.form.submit()">
                    <option th:each="s : ${allStatuses}"
                            th:value="${s}"
                            th:selected="${s} == ${selectedStatus}"
                            th:text="${s}">
                    </option>
                </select>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-hover mt-4">
    <thead>
    <tr>
        <th>STT</th>
        <th>Bác sĩ</th>
        <th>Mã chứng chỉ</th>
        <th>Ngày cấp</th>
        <th>Ngày hết hạn</th>
        <th>Hình ảnh</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
    </tr>
    </thead>

        <tbody>
        <tr th:each="cert, iterStat : ${certificate.content}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${cert.doctorResponse.userResponse.lastName + ' ' +  cert.doctorResponse.userResponse.firstName}"></td>
            <td th:text="${cert.certificateNumber}"></td>
            <td th:text="${cert.issueDate}"></td>
            <td th:text="${cert.expiryDate}"></td>
            <td>
                <a th:href="${cert.imageCertificate}" target="_blank">
                    <img th:src="${cert.imageCertificate}" alt="Ảnh chứng chỉ" style="width: 100px; height: auto;">
                </a>
            </td>
            <td th:text="${cert.status}"></td>
            <td>
                <div th:if="${cert.status != APPROVED and cert.status != REJECTED}">
                    <form th:action="@{'/certificate/approve/' + ${cert.id}}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-success btn-sm">Xác nhận</button>
                    </form>

                    <button type="button" class="btn btn-danger btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#rejectModal"
                            th:attr="data-id=${cert.id}">
                        Từ chối
                    </button>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</section>

<!--Phân trang-->

<div class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            <li th:classappend="${certificate.first} ? 'disabled'" class="page-item">
                <a th:href="@{'/certificates'(page=${certificate.number - 1}, status=${selectedStatus})}" class="page-link">Trước</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" th:text="'Trang ' + (${certificate.number + 1}) + '/' + ${certificate.totalPages}"></a>
            </li>
            <li th:classappend="${certificate.last} ? 'disabled'" class="page-item">
                <a th:href="@{'/certificates'(page=${certificate.number + 1}, status=${selectedStatus})}" class="page-link">Sau</a>
            </li>
        </ul>
    </nav>
</div>


<script>
    const rejectModal = document.getElementById('rejectModal');
    rejectModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const certId = button.getAttribute('data-id');
        document.getElementById('rejectId').value = certId;
        document.getElementById('rejectForm').action = `/certificate/reject/${certId}`;
    });
</script>
<div th:replace="layout/footer :: footer"></div>
</body>

</html>